*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'roboto', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
p, h1, h2, h3{
    color: #214295;
}
h1{
    font-weight: 300;
    font-size: 50px;
}
h2{
    font-weight: 400;
}
header div img{
    cursor: pointer;
}
.close{
    position: absolute;
    right: 10%;
    z-index: 1;
    height: 0;
    transition: height linear .5s .25s;
    overflow: hidden;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 7%;
    position: absolute;
}
main .section{
    display: flex;
    width: 100%;
    min-height: 100%;
    transition: right ease-in-out .25s;
}
main .menu{
    background-color: rgba(255, 255, 255, 0.59);
    position: absolute;
    right: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
main .home{
    min-height: 620px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
main .home .bucc-logo img{
    width: 250px;
}
main .menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* overflow: hidden; */
    padding: 100px 0 400px 0;
}
main .menu .menu-box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main .menu .menu-box-container .menu-box{
    min-width: 400px;
    height: 200px;
    background-color: #214295;
    margin: 10px;
    padding: 0 25px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    font-size: 23px;
    flex-wrap: wrap;
    text-align: center;
    transition: background ease-in-out .25s;
    box-shadow: 0px 4px 4px rgba(138, 138, 138, 0.25);
}
main .menu .menu-box-container .menu-box p{
    color: #fff;
}
main .menu .menu-box-container .menu-box:hover{
    background-color: #152B61;
    cursor: pointer;
}
@media only screen and (max-width: 375px){
    main .menu .menu-box-container .menu-box{
        min-width: 300px;
        max-width: 300px;
    }
}