main .home{
    width: 100%;
    padding: 0 10%;
    padding-top: 8%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
h1, p{
    color: #152B61;
}
main .home .playlists{
    width: 100%;
    margin: 20px 0;
}
main .home .playlists .playlists-header{
    margin-top: 10px;
    font-size: 25px;
}
main .home .playlists .playlist-row{
    /* background-color: purple; */
    width: 100%;
    margin: 10px 2%;
    display: flex;
    flex-wrap: wrap;
}
main .home .playlists .playlist-row .playlist-box{
    width: 250px;
    height: 295px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-right: 50px;
    margin: 0 50px 50px 0;
    /* justify-items: center; */
    /* justify-content: flex-start */
}
main .home .playlists .playlist-row .playlist-box h3{
    font-weight: 400;
    font-size: 25px;
}
main .home .playlists .playlist-row .playlist-box .link{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    /* background-color: purple; */
}
main .home .playlists .playlist-row .playlist-box .link .arrow{
    width: 70px;
    padding: 10px 0 5px 0;
    background-color:#214295;
    transition: background ease-in-out .25s;
}
main .home .playlists .playlist-row .playlist-box .link .arrow:hover{
    background-color: #152B61;
}